.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1;
  margin-top: 64px; // Altura do header
  
  .main-content {
    .content-wrapper {
      padding: 0;
      height: calc(100vh - 64px);
      overflow-y: auto;
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .sidenav-container {
    .main-content {
      .content-wrapper {
        padding: 16px;
      }
    }
  }
}